---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={`${frontmatter.title} - Visit Tidung`}>
  <article class="prose dark:prose-invert mx-auto mt-10">
    <h1>{frontmatter.title}</h1>
    <div class="flex justify-center">
      <Image
        src={frontmatter.featuredImage}
        alt={frontmatter.title}
        class="rounded-lg mb-2 mt-0 md:min-w-[700px]"

      />
      <div class={`badge ${frontmatter.labelColor} text-white ml-4`}>
        {frontmatter.category}
      </div>
    </div>
    <slot />
  </article>
</BaseLayout>